

.btn-container {
  // outline: 1px solid black;
  margin-left: auto;
  // transition: all .5s;

  .signin-btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    background-color: #2196F3;
  }

  .signin-btn:hover {
    background-color: #1976D2;
  }

  .signout-btn {
    background-color: red;
  }

  .signout-btn:hover {
    background-color: rgb(235, 0, 0);
  }


  .oauth-btn {
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: .5rem;
    // box-shadow: 2px 2px rgb(201, 200, 200);
    border-radius: .25rem;
    transition: all .25s ease-in-out;
    width: 120px;
    display: block;
    text-align: center;
    border:none;
  }
}