// FONTS
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

.app-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 15% 1fr 20%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: #f9f9f9;
	padding: 1rem 3rem 5rem 3rem;
}

.font-style {
  font-family: 'Fira Sans', sans-serif;
}

@import '../../styles/main.scss';