.header-component {
  grid-column: 1 / 11;
}

.header-segment {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 2px 3px 10px #e4e4e4;
  padding: 1rem;
  border-radius: .25rem;

  h1 {
    font-size: 2rem;
    font-family: 'Fira Sans', sans-serif;
    word-spacing: -5px;
  }

  i:nth-child(2) {
    margin-left: 15px;
  }

  i {
    font-size: 1.5rem;
    margin-left: 5px;
  }

}

.header-tabs {
  margin: .25rem !important;

  .active {
    margin: 0 !important;
  }

  .item {
    outline: none !important;
  }

}