.video-item {
  display: flex;
  align-items: flex-start;
  cursor: pointer;


  .img-container {
    // width: 200px;
    position: relative;

    img {
      position: relative;
      width: 200px;
      height: 120px;
      background-position: 50% 50%;
      background-repeat:no-repeat;
      background-size:cover;
    }

    .video-length {
      position: absolute;
      color: white;
      font-weight: bold;
      background-color: rgba(0,0,0, 0.75);
      z-index: 1;
      padding: 3px;
      font-size: .85rem;
      top: -20%;
      left: 1%;
      font-family: 'Fira Sans', sans-serif;
    }
  }

  &-title {
    padding: 0 5px;
    font-size: 1rem;
    font-weight: bold;
  }
}