// Phone layout

@media only screen and (min-width : 320px) and (max-width: 480px){
  /* APP */
  .app-container {
    padding: 0rem;
    grid-template-rows: 15% 2fr 1fr;
    grid-template-columns: 1fr;
  }

  /* header component */
  .header-component {
    grid-column: auto;

    .header-segment {

      h1 { font-size: 1.5rem; }

      i:nth-child(2) {
        margin-left: 10px;
      }

      i { 
        font-size: 1rem; 
        margin-left: 2px;
      }
    }

    .item {
      padding: .85rem !important;
    }
  }
  
  /* Video Detail */
  .video-detail-container {
    grid-column: 1;
    grid-row: 2 / 3;
  }

  .video-list {
    overflow: visible;
    grid-column: 1;
    grid-row: 3;
  }

}